In [1]:
a = [2, 4, 6, 8, 10]

In [2]:
a[0]

2

In [3]:
a[0:2]

[2, 4]

In [4]:
a[1:2]

[4]

In [67]:
a = np.random.rand(12)
a

array([0.02742207, 0.16964953, 0.05137285, 0.98862323, 0.64444139,
       0.95149167, 0.46534771, 0.85837051, 0.33622778, 0.15438498,
       0.1367569 , 0.60301635])

In [68]:
a.ndim

1

In [6]:
import numpy as np

In [54]:
b = np.random.randint(10, size=(12)).reshape(3, 4
                                            )
b

array([[1, 9, 2, 0],
       [1, 2, 0, 4],
       [1, 7, 2, 1]])

In [56]:
b[0:1].shape

(1, 4)

In [63]:
b[:,0]
b.ndim

2

In [60]:
m = np.arange(20).reshape(4, 5)
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [61]:
m.ndim

2

In [69]:
a = np.array([2, 0, 1, 8])

In [70]:
a.ndim

1

In [71]:
a.shape

(4,)

In [96]:
a[np.newaxis,:]

array([[[2, 0, 1, 8]]])

In [97]:
assert 1==1

In [98]:
assert 1==2

AssertionError:

In [99]:
a = np.random.randint(12, size=(3, 4))

In [100]:
a

array([[ 8, 10,  3,  0],
       [ 6,  1,  5,  1],
       [ 9, 10,  3,  4]])

In [101]:
a[(0, 2)]

3

In [102]:
b = a[:,:2]

In [103]:
b

array([[ 8, 10],
       [ 6,  1],
       [ 9, 10]])

In [104]:
np.may_share_memory(a, b)

True

In [117]:
c = a[[0,2],[0,2]]

In [118]:
c

array([8, 3])

In [119]:
np.may_share_memory(a, c)

False

In [124]:
a = np.random.randint(10, size=12).reshape(3, 4)
a

array([[9, 8, 4, 8],
       [7, 0, 0, 8],
       [2, 5, 2, 6]])

In [123]:
np.sort(a, axis=1)

array([[0, 1, 3, 3],
       [7, 8, 8, 9],
       [4, 5, 6, 7]])

In [125]:
import seaborn as sns

In [126]:
df = sns.load_dataset("titanic")

In [127]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [129]:
df.shape

(891, 15)

In [137]:
m = df.dropna()

In [132]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [134]:
df.dropna(inplace=True)

In [135]:
df.shape

(182, 15)

In [138]:
m

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [141]:
a = np.random.randint(10, size=(3, 4))
b = np.random.randint(100, 200, size=(3, 4))

In [142]:
a
b

array([[155, 117, 192, 105],
       [116, 198, 183, 117],
       [196, 128, 172, 136]])

In [143]:
a

array([[3, 1, 5, 2],
       [0, 5, 0, 1],
       [3, 0, 8, 2]])

In [144]:
np.concatenate((a, b))

array([[  3,   1,   5,   2],
       [  0,   5,   0,   1],
       [  3,   0,   8,   2],
       [155, 117, 192, 105],
       [116, 198, 183, 117],
       [196, 128, 172, 136]])

In [145]:
np.concatenate((a, b), axis=1)

array([[  3,   1,   5,   2, 155, 117, 192, 105],
       [  0,   5,   0,   1, 116, 198, 183, 117],
       [  3,   0,   8,   2, 196, 128, 172, 136]])