In [2]:
import pandas as pd

In [3]:
from faker import Faker

In [4]:
fa_fake = Faker("fa")

In [5]:
dir fa_fake

SyntaxError: invalid syntax (2769953221.py, line 1)

In [6]:
dir(fa_fake)

['__annotations__',
 '__class__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_factories',
 '_factory_map',
 '_locales',
 '_map_provider_method',
 '_select_factory',
 '_select_factory_choice',
 '_select_factory_distribution',
 '_unique_proxy',
 '_weights',
 'aba',
 'add_provider',
 'address',
 'administrative_unit',
 'am_pm',
 'android_platform_token',
 'ascii_company_email',
 'ascii_email',
 'ascii_free_email',
 'ascii_safe_email',
 'bank',
 'bank_country',
 'bban',
 'binary',
 'boolean',
 'bothify',
 'bs',
 'building_number',
 'cache_pattern',
 'catch_phrase',
 'century',
 'chrome',
 'city',
 'city_prefix',
 'city_suffix',
 'color',
 'color_name',
 'company',
 'company_email',
 'company_suffix',
 'coordinate',
 'country',
 'country_calling_code',
 'country_code',
 'credit_card_expire',
 'credit_card_full',
 'credit_card_number',
 'credit_card_provider',
 'credit_card_security_code',
 'cryptocurrency',
 'cryptocurrency_code',
 'cryptocurrency_name',
 'csv',
 'currency',
 'currency_code',
 'currency_name',
 'currency_symbol',
 'current_country',
 'current_country_code',
 'date',
 'date_between',
 'date_between_dates',
 'date_object',
 'date_of_birth',
 'date_this_century',
 'date_this_decade',
 'date_this_month',
 'date_this_year',
 'date_time',
 'date_time_ad',
 'date_time_between',
 'date_time_between_dates',
 'date_time_this_century',
 'date_time_this_decade',
 'date_time_this_month',
 'date_time_this_year',
 'day_of_month',
 'day_of_week',
 'del_arguments',
 'dga',
 'domain_name',
 'domain_word',
 'dsv',
 'ean',
 'ean13',
 'ean8',
 'ein',
 'email',
 'factories',
 'file_extension',
 'file_name',
 'file_path',
 'filter_by_length',
 'firefox',
 'first_name',
 'first_name_as_list',
 'first_name_female',
 'first_name_female_as_list',
 'first_name_male',
 'first_name_male_as_list',
 'first_name_nonbinary',
 'first_name_nonbinary_as_list',
 'fixed_width',
 'format',
 'free_email',
 'free_email_domain',
 'future_date',
 'future_datetime',
 'generator_attrs',
 'get_arguments',
 'get_formatter',
 'get_providers',
 'hex_color',
 'hexify',
 'hostname',
 'http_method',
 'iana_id',
 'iban',
 'image',
 'image_url',
 'internet_explorer',
 'invalid_ssn',
 'ios_platform_token',
 'ipv4',
 'ipv4_network_class',
 'ipv4_private',
 'ipv4_public',
 'ipv6',
 'isbn10',
 'isbn13',
 'iso8601',
 'items',
 'itin',
 'job',
 'json',
 'language_code',
 'language_name',
 'last_name',
 'last_name_as_list',
 'last_name_female',
 'last_name_female_as_list',
 'last_name_male',
 'last_name_male_as_list',
 'last_name_nonbinary',
 'last_name_nonbinary_as_list',
 'latitude',
 'latlng',
 'lexify',
 'license_plate',
 'linux_platform_token',
 'linux_processor',
 'local_latlng',
 'locale',
 'locales',
 'localized_ean',
 'localized_ean13',
 'localized_ean8',
 'location_on_land',
 'longitude',
 'mac_address',
 'mac_platform_token',
 'mac_processor',
 'md5',
 'mime_type',
 'month',
 'month_name',
 'msisdn',
 'name',
 'name_female',
 'name_male',
 'name_nonbinary',
 'nic_handle',
 'nic_handles',
 'null_boolean',
 'numerify',
 'opera',
 'paragraph',
 'paragraphs',
 'parse',
 'password',
 'past_date',
 'past_datetime',
 'phone_number',
 'port_number',
 'postcode',
 'prefix',
 'prefix_as_list',
 'prefix_female',
 'prefix_female_as_list',
 'prefix_male',
 'prefix_male_as_list',
 'prefix_nonbinary',
 'prefix_nonbinary_as_list',
 'pricetag',
 'profile',
 'provider',
 'providers',
 'psv',
 'pybool',
 'pydecimal',
 'pydict',
 'pyfloat',
 'pyint',
 'pyiterable',
 'pylist',
 'pyset',
 'pystr',
 'pystr_format',
 'pystruct',
 'pytimezone',
 'pytuple',
 'random',
 'random_choices',
 'random_digit',
 'random_digit_not_null',
 'random_digit_not_null_or_empty',
 'random_digit_or_empty',
 'random_element',
 'random_elements',
 'random_int',
 'random_letter',
 'random_letters',
 'random_lowercase_letter',
 'random_number',
 'random_sample',
 'random_uppercase_letter',
 'randomize_nb_elements',
 'rgb_color',
 'rgb_css_color',
 'ripe_id',
 'safari',
 'safe_color_name',
 'safe_domain_name',
 'safe_email',
 'safe_hex_color',
 'secondary_address',
 'seed',
 'seed_instance',
 'seed_locale',
 'sentence',
 'sentences',
 'set_arguments',
 'set_formatter',
 'sha1',
 'sha256',
 'simple_profile',
 'slug',
 'ssn',
 'state',
 'street_address',
 'street_name',
 'street_suffix',
 'suffix',
 'suffix_as_list',
 'suffix_female',
 'suffix_female_as_list',
 'suffix_male',
 'suffix_male_as_list',
 'suffix_nonbinary',
 'suffix_nonbinary_as_list',
 'swift',
 'swift11',
 'swift8',
 'tar',
 'text',
 'texts',
 'time',
 'time_delta',
 'time_object',
 'time_series',
 'timezone',
 'tld',
 'tsv',
 'unique',
 'unix_device',
 'unix_partition',
 'unix_time',
 'upc_a',
 'upc_e',
 'uri',
 'uri_extension',
 'uri_page',
 'uri_path',
 'url',
 'user_agent',
 'user_name',
 'uuid4',
 'weights',
 'windows_platform_token',
 'word',
 'words',
 'year',
 'zip']

In [41]:
fa_fake.country()

'موریس'

In [49]:
fa_fake.job()

'جهانگرد'

In [50]:
fa_fake.name()

'يوسف بهمنی'

In [58]:
pip install names_dataset

Collecting names_dataset
  Downloading names-dataset-3.1.0.tar.gz (58.4 MB)
     |████████████████████████████████| 58.4 MB 337 kB/s eta 0:00:01
Collecting pycountry
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     |████████████████████████████████| 10.1 MB 2.5 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: setuptools in /Users/mehdihatamigoloujeh/opt/anaconda3/lib/python3.9/site-packages (from pycountry->names_dataset) (58.0.4)
Building wheels for collected packages: names-dataset, pycountry
  Building wheel for names-dataset (setup.py) ... done
  Created wheel for names-dataset: filename=names_dataset-3.1.0-py3-none-any.whl size=116832782 sha256=cf6cadd95cd9514b9c18ecbc2d7d687caf8bc62ea27ff81857fa8577c79f7d39
  Stored in directory: /Users/mehdihatamigoloujeh/Library/Caches/pip/wheels/8b/36/2e/49513b778ca8d01a91a8cee61425d53de963b74561bfa5f561
  Building wheel for pycountry (PEP 517) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681832 sha256=10ded9973ad41853907ae8fc057491a105846b33e39ae2d1699c2f5d6cbeec5a
  Stored in directory: /Users/mehdihatamigoloujeh/Library/Caches/pip/wheels/47/15/92/e6dc85fcb0686c82e1edbcfdf80cfe4808c058813fed0baa8f
Successfully built names-dataset pycountry
Installing collected packages: pycountry, names-dataset
Successfully installed names-dataset-3.1.0 pycountry-22.3.5
Note: you may need to restart the kernel to use updated packages.

In [59]:
from names_dataset import NameDataset

In [60]:
nd = NameDataset()

In [61]:
dir(nd)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_post_process',
 '_read_json_from_zip',
 'first_names',
 'get_country_codes',
 'get_top_names',
 'last_names',
 'search']

In [68]:
nd.search("mehran")

{'first_name': {'country': {'United Arab Emirates': 0.062,
   'Afghanistan': 0.017,
   'Canada': 0.024,
   'Germany': 0.018,
   'United Kingdom': 0.015,
   'Iraq': 0.023,
   'Iran, Islamic Republic of': 0.679,
   'Saudi Arabia': 0.096,
   'Turkey': 0.024,
   'United States': 0.043},
  'gender': {'Female': 0.027, 'Male': 0.973},
  'rank': {'United Arab Emirates': 1273,
   'Afghanistan': 429,
   'Canada': 1342,
   'Germany': 2243,
   'United Kingdom': 3862,
   'Iraq': 6236,
   'Iran, Islamic Republic of': 92,
   'Saudi Arabia': 3557,
   'Turkey': 4025,
   'United States': 6077}},
 'last_name': {'country': {'United Arab Emirates': 0.118,
   'Afghanistan': 0.065,
   'Egypt': 0.11,
   'India': 0.018,
   'Iraq': 0.025,
   'Iran, Islamic Republic of': 0.314,
   'Oman': 0.025,
   'Saudi Arabia': 0.27,
   'Turkey': 0.022,
   'United States': 0.033},
  'gender': {},
  'rank': {'United Arab Emirates': 4670,
   'Afghanistan': 1051,
   'Iran, Islamic Republic of': 1064,
   'Oman': 13260,
   'Saudi Arabia': 10134,
   'Egypt': None,
   'India': None,
   'Iraq': None,
   'Turkey': None,
   'United States': None}}}

In [70]:
en_fake = Faker()

In [71]:
en_fake.name()

'Dale Gibson'

In [72]:
fa_fake.name()

'محمدجواد ضرغامی'

In [98]:
fa_fake.name().split()[-1]

'زارعی'

In [180]:
def make_name():
    if np.random.rand()>0.5:
        return en_fake.name()
    return fa_fake.name()

In [181]:
df = pd.DataFrame({
    'Name' : [make_name() for _ in range(100)]
})

In [129]:
df.head()

                    Name
0  سرکار خانم هستی رسولی
1            هلیا لاچینی
2             Diane Wall
3             نیایش ظفری
4              مهدی هنری

In [130]:
df.tail()

             Name
95  محمد رضا زاده
96  Denise Graham
97    Linda Lopez
98   Michael Cook
99    Susan Smith

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    100 non-null    object
dtypes: object(1)
memory usage: 928.0+ bytes

In [132]:
df.describe()

                         Name
count                     100
unique                    100
top     سرکار خانم هستی رسولی
freq                        1

In [182]:
df['First Name'] = df['Name'].apply(
    lambda full_name:full_name.split()[0]
)

In [183]:
df['Last Name'] = df['Name'].apply(
    lambda full_name:full_name.split()[-1]
)

In [184]:
df.head()

                         Name First Name Last Name
0                  هلیا کریمی       هلیا     کریمی
1              Rachel Allison     Rachel   Allison
2                  Amber Pugh      Amber      Pugh
3               Samuel Jensen     Samuel    Jensen
4  سرکار خانم دکتر مريم زارعی      سرکار     زارعی

In [143]:
dir(nd)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_post_process',
 '_read_json_from_zip',
 'first_names',
 'get_country_codes',
 'get_top_names',
 'last_names',
 'search']

In [162]:
nd.search("Milad")['first_name']['gender']

{'Female': 0.027, 'Male': 0.973}

In [173]:
nd.search('ali')['first_name']['country']

{'United Arab Emirates': 0.037,
 'Algeria': 0.054,
 'Egypt': 0.149,
 'Iraq': 0.142,
 'Iran, Islamic Republic of': 0.052,
 'Morocco': 0.079,
 'Saudi Arabia': 0.146,
 'Syrian Arab Republic': 0.05,
 'Tunisia': 0.04,
 'Turkey': 0.25}

In [174]:
nd.search('ali')['first_name']['gender']

{'Female': 0.058, 'Male': 0.942}

In [175]:
nd.search('ali')['first_name']['rank']

{'United Arab Emirates': 5,
 'Algeria': 5,
 'Egypt': 13,
 'Iraq': 7,
 'Iran, Islamic Republic of': 1,
 'Morocco': 21,
 'Saudi Arabia': 9,
 'Syrian Arab Republic': 6,
 'Tunisia': 3,
 'Turkey': 4}

In [168]:
df

,first_name,last_name
country,"{'United Arab Emirates': 0.037, 'Algeria': 0.0...","{'United Arab Emirates': 0.094, 'Egypt': 0.233..."
gender,"{'Female': 0.058, 'Male': 0.942}",{}
rank,"{'United Arab Emirates': 5, 'Algeria': 5, 'Egy...","{'United Arab Emirates': 2, 'Egypt': 5, 'India..."

In [176]:
df = csv.read(mydf.csv)

NameError: name 'csv' is not defined

In [177]:
df = pd.read_csv('mydf.csv')

In [179]:
df.head()

,Unnamed: 0,name,age,id,email,fname,lname
0,0,Nicholas Davis,65,1033,NicholasDavis1033@mail.com,Nicholas,Davis
1,1,Alyssa Marshall,23,1034,AlyssaMarshall1034@mail.com,Alyssa,Marshall
2,2,Christian Potts,24,1088,ChristianPotts1088@mail.com,Christian,Potts
3,3,Angela Mcclure,85,1084,AngelaMcclure1084@mail.com,Angela,Mcclure
4,4,Debra Russell,58,1090,DebraRussell1090@mail.com,Debra,Russell

In [185]:
df

                          Name First Name  Last Name
0                   هلیا کریمی       هلیا      کریمی
1               Rachel Allison     Rachel    Allison
2                   Amber Pugh      Amber       Pugh
3                Samuel Jensen     Samuel     Jensen
4   سرکار خانم دکتر مريم زارعی      سرکار      زارعی
..                         ...        ...        ...
95                David Bowers      David     Bowers
96    جناب آقای امیررضا تنزیلی       جناب     تنزیلی
97          علی اكبر میردامادی        علی  میردامادی
98  جناب آقای دکتر علیرضا موحد       جناب       موحد
99                  Rick Brown       Rick      Brown

[100 rows x 3 columns]

In [187]:
def name_to_gender(first_name):
    info = nd.search(first_name)['first_name']
    return max(info['gender'], key=info['gender'].get())

In [188]:
df['Gender'] = df['First Name'].apply(name_to_gender)

TypeError: get expected at least 1 argument, got 0

In [209]:
index = pd.date_range('1/1/2000', periods=10, freq='W-MON')

In [210]:
dff = pd.DataFrame(
    np.random.randn(10, 3),
    index = index,
    columns = list('ABC')
)

In [217]:
dff['Full Name'] = [en_fake.name() for _ in range(10)]

In [220]:
del dff['first name']

In [221]:
dff

                   A         B         C            Full Name
2000-01-03 -0.126752  0.840817 -0.288086        Jessica Moore
2000-01-10  0.607667  0.135012  0.427606     Michael Gonzalez
2000-01-17 -0.528181 -0.150574 -0.980171        Meghan Powell
2000-01-24 -1.146278 -0.749390 -0.347407       Shelby Hickman
2000-01-31  0.732710 -1.571773 -0.491279     Richard Marshall
2000-02-07 -0.529051  0.600986 -0.614280  Christopher Jenkins
2000-02-14  0.589390 -1.206185 -0.303099          Julia Lopez
2000-02-21  1.653870 -0.239279 -0.499065       Briana Sanchez
2000-02-28  0.331713 -0.318905  0.577562          Jane Nelson
2000-03-06  2.697999  0.028074 -0.882708       James Williams

In [225]:
dff['First Names'] = dff['Full Name'].apply(
    lambda fullname:fullname.split()[0]
)

In [226]:
dff

                   A         B         C            Full Name  First Names
2000-01-03 -0.126752  0.840817 -0.288086        Jessica Moore      Jessica
2000-01-10  0.607667  0.135012  0.427606     Michael Gonzalez      Michael
2000-01-17 -0.528181 -0.150574 -0.980171        Meghan Powell       Meghan
2000-01-24 -1.146278 -0.749390 -0.347407       Shelby Hickman       Shelby
2000-01-31  0.732710 -1.571773 -0.491279     Richard Marshall      Richard
2000-02-07 -0.529051  0.600986 -0.614280  Christopher Jenkins  Christopher
2000-02-14  0.589390 -1.206185 -0.303099          Julia Lopez        Julia
2000-02-21  1.653870 -0.239279 -0.499065       Briana Sanchez       Briana
2000-02-28  0.331713 -0.318905  0.577562          Jane Nelson         Jane
2000-03-06  2.697999  0.028074 -0.882708       James Williams        James

In [228]:
dff['Last Name'] = dff['Full Name'].apply(
    lambda name:name.split()[-1]
)

In [234]:
dff['email'] = dff['First Names'] + '.' + dff['Last Name'] + '@polimi.it'

In [249]:
dff.to_csv('mydff.csv')

In [250]:
mydff = pd.read_csv('mydff.csv')

In [251]:
mydff

,Unnamed: 0,A,B,C,Full Name,First Names,Last Name,email
0,2000-01-03,-0.126752,0.840817,-0.288086,Jessica Moore,Jessica,Moore,Jessica.Moore@polimi.it
1,2000-01-10,0.607667,0.135012,0.427606,Michael Gonzalez,Michael,Gonzalez,Michael.Gonzalez@polimi.it
2,2000-01-17,-0.528181,-0.150574,-0.980171,Meghan Powell,Meghan,Powell,Meghan.Powell@polimi.it
3,2000-01-24,-1.146278,-0.749390,-0.347407,Shelby Hickman,Shelby,Hickman,Shelby.Hickman@polimi.it
4,2000-01-31,0.732710,-1.571773,-0.491279,Richard Marshall,Richard,Marshall,Richard.Marshall@polimi.it
5,2000-02-07,-0.529051,0.600986,-0.614280,Christopher Jenkins,Christopher,Jenkins,Christopher.Jenkins@polimi.it
6,2000-02-14,0.589390,-1.206185,-0.303099,Julia Lopez,Julia,Lopez,Julia.Lopez@polimi.it
7,2000-02-21,1.653870,-0.239279,-0.499065,Briana Sanchez,Briana,Sanchez,Briana.Sanchez@polimi.it
8,2000-02-28,0.331713,-0.318905,0.577562,Jane Nelson,Jane,Nelson,Jane.Nelson@polimi.it
9,2000-03-06,2.697999,0.028074,-0.882708,James Williams,James,Williams,James.Williams@polimi.it

In [252]:
mydff.index

RangeIndex(start=0, stop=10, step=1)

In [255]:
mydff.columns

Index(['Unnamed: 0', 'A', 'B', 'C', 'Full Name', 'First Names', 'Last Name',
       'email'],
      dtype='object')

In [1]:
import os

In [2]:
os.environ['x']

'q234123413241234'